<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
	<link href="/static/main.css" media="screen" rel="stylesheet" type="text/css" />
	<link href="/static/github.css" media="screen" rel="stylesheet" type="text/css" />
	<title>{{ post.title }}</title>
</head>
<body>
<span itemscope itemtype="http://schema.org/BlogPosting">
<div id="header">
    <h1 itemprop="name" id="title">{{ page.title }}</h1>
	<h3 class="signature">
		By
		<span itemprop="author" itemscope itemtype="http://schema.org/Person" class="author">
			<a itemprop="sameAs" target="_blank" href="https://gitlab.com/sidestep">@sidestep</a>
		</span>
	on <span itemprop="dateCreated" class="date">{{ page.date | date: "%-d %B %Y" }}</span>
    <span class="tags">tags: {% for tag in page.tags %} {{ tag }} {% endfor %}</span>
</div>
<div id="content" itemprop="text">
{{ content }}
</div>
</span>
</body>
</html>
